/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}
html{
    font-family: Arial, Helvetica, sans-serif;  /*Chỉnh font chữ */
}

/* 
1.Làm từ ngoài vào trong
Làm từ trên xuống dưới
3.Làm từ tổng quan đến chi tiết
 */

/* Những thứ cần làm
1.Vị trí
2.Kích thước (Wight, Hight)
3.Màu sắc
4.Kiểu dáng
 */

/* common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: calc(100%/2);
}

.col-third{
    width: calc(100%/3);
}

.mt-16{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}

.btn{
    cursor: pointer;
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none; /*Bỏ gạch chân*/
    padding: 8px 16px;
    margin-bottom: 16px;
    margin-top: 15px;;
    border: 1px solid #000;

}

.pull-right{
    float: right
}

/* Main */
#main {

}

#nav{
    display: inline-block;
}

#header {
    position: relative;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav,.subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}




#nav  li  a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li > a{
    color: white;
    text-transform: uppercase; /*Ghi hoa*/
}


#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}

#nav  li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

/* CSS biểu tượng mũi tên xuống */
#nav .nav-arrow-down{
    font-size: 15px;
}

/* Css Search Botton */
#header .nav-search-btn{
    line-height: 46px;
    float: right;
    color: white;
    font-size: 20px;
    padding: 0 16px;
}

#header .nav-search-btn:hover{
    cursor: pointer;
    background-color: red;
}
/* CSS Slider */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*Phầm trăm của chính nó*/
    background: url('/assets/img/ny.jpg')  top center / cover no-repeat;
}

/* CSS Text content */
#slider .text-content{
    position: absolute;
    color: white;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%); /*thêm dấu -50% để trừ đi 50% của chữ đó*/
    text-align: center;

    /* Cách 2
    width: 100%;

    Cách 3
    right: 0;
    left: 0; */
}

#slider .text-heading{
    font-weight: 500; /*Giảm độ dày*/
    font-size: 24px;
}

#slider .text-describe{
    font-size: 15px;
    margin-top: 25px;
}



/* CSS conttent */
#content {

}

/* Begin CSS About Section  */
#content .content-section{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;  /* Chỉnh độ cao 1 dòng*/
}

#content .section-heading{
    text-align: center;  /*Để căn ra giữa: Center*/
    font-weight: 500; /*Làm cho chữ mỏng đi*/   
    font-size: 30px;
    letter-spacing: 4px; /*Đẩy Các chữ ra*/
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;  /*Thuộc tính để chữ nghiêng*/
    opacity: 0.6; /*Thuộc tính làm mờ chữ*/
}

.about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /*Để căn đều 2 bên: justify*/
}

.member-list{
    margin-top: 48px;
    overflow: hidden; /*Khắc phục tình trạng mất khoảng cách của dùng float*/
}


.member-name{
    font-size: 15px;
    margin: 15px 0;
}

.member-img{
    width: 154px;
    border-radius: 5px; /*Để bo góc tròn*/
}
/* End CSS About Section  */

/* Begin CSS Tour Section  */
.tour-section{
    background-color: black;

}

.tour-section > .content-section
>.section-heading {
    color: white;
}
.tour-section > .content-section
>.section-sub-heading{
    color: white;
}


.tickets{
    background-color: white;
    margin-top: 40px;
}
.tickets li{
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd; /* thêm thuộc tính solid để thể hiện đường gạch ngang*/
    color: #757575;
    list-style: none; /*Để bỏ các dấm chấm thừa bên trái*/
}

.tickets .Sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    
}

.tickets .quantity{
    float: right;
    font-size: 15px;
    background-color: #555555;
    color: white;
    width: 24px; height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
}

.location-list{
    margin-top: 32px;
    overflow: hidden;
    font-size: 15px;
}

.location-heading{
    font-size: 15px;
    margin-top: 10px;
}
.location-img{
    width: 100%;
    display: block;
}

.location-describe{
    margin-top: 15px;
    line-height: 1.4;
}

.location-time{
    margin-top: 15px;
    color: #757575;
}

.location-img:hover{
    opacity: 0.6;
}
.location-content{
    display: inline-block;
    background-color: white;
    padding: 0.15px 16px;
    line-height: 1.5;
}



.btn:hover{
    background-color: #ccc;
}
/* End CSS Tour Section  */


/* Begin CSS Contact Section  */
.contact-content{
    margin-top: 48px;
    padding: 64px 16px;
}

.contact-infor{
    color: black;
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor i[class*=ti-] {
     width: 30px;
     display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    margin-top: 8px;
}


.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.map-section img{
    width: 100%;
}

/* End CSS Contact Section  */


/* CSS Footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    color: black;
    text-decoration: none;
}

#footer .social-list a:hover{
    cursor: pointer;
    opacity: 0.3;
}

#footer .copyright{
    font-size: 15px;
    margin-top: 15px;
    color: black;
}

#footer .copyright a{
    color: black;
}


/* Begin CSS modal */
.modal.open{
    display: flex;
}

.modal{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    /* Thêm animation Js Buy-Ticket */
    /* trượt trượt */
    animation: modalFadeIn ease 0.5s;
}

.modal-header{
    background-color: #009688!important;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-heading-icont{
    margin-right: 15px;
    font-size: 30px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #009688!important;
    color: white;
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #ccc !important;
    color: black;   
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}


#buy-sticks{
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 16px;
    border: 1px none;
    cursor: pointer;
    background-color: #009688 !important;
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
}

#buy-sticks:hover{
    background-color: #ccc !important;
}

.modal-footer{
    position: relative;
}

.modal-need {
    padding: 16px;
    font-size: 15px;
    text-align: right;
}

.modal-need a{
    color: #2196F3!important;
}

.modal-footer-close{
    margin-left: 15px;
    position: absolute;
    font-size: 15px;
    color: white;
    padding: 8px;
    background-color: red;
}

.modal-footer-close:hover{
    background-color: #ccc !important;
    cursor: pointer;
}

/* End CSS modal */


/* Begin Js Buy-Ticket */
@keyframes modalFadeIn{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
/* End Js Buy-Ticket */
